if authorized
    div.row
        div.span1
            a.thumbnail(href="/profile/#{user.id}"): img(src="#{user.pic}")
        div.span2
            h2: a(href="/profile/#{user.id}") #{user.login}
            div: a(href="/profile/#{user.id}")
                i.icon-pencil
                |&nbsp;&nbsp;Edit
    hr
    ul.nav.nav-list
        li
            i.icon-user
            |&nbsp;Visit: #{user.visited}
        li
            i.icon-fire
            |&nbsp;Flash: #{user.flashed}

    hr
    div
        ul.nav.nav-list
            li.nav-header They are interested

            li: a(href="/activity/visitedby")
                i.icon-user
                |&nbsp;Visited By
            li: a(href="/activity/flashedby")
                i.icon-fire
                |&nbsp;Flashed By
            li: a(href="/activity/savedby")
                i.icon-heart
                |&nbsp;Saved By

            li.nav-header You are interested

            li: a(href="/activity/visited")
                i.icon-user
                |&nbsp;Visited
            li: a(href="/activity/flashed")
                i.icon-fire
                |&nbsp;Flashed            
            li: a(href="/activity/saved")
                i.icon-heart
                |&nbsp;Saved

else
    div.box
        h3.thin.page-header Information
        p.box-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.