div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a.brand(href='/') Meet
            ul.nav
                - var cls, link, links
                - if (user)
                    - links = ['search', 'activity', 'tests']
                - else
                    - links = [/*'login', */'register']

                - for (var i = 0, l = links.length; i < l; i++)
                    - link = links[i]
                    - if ('/'+link === path)
                        li.active: a(href="/#{link}") #{link}
                    - else
                        li: a(href="/#{link}") #{link}

            if user
                ul.nav.pull-right
                    li: a Welcome #{user.login}
                    li: a(href="/logout") Sign out
            if !user
                form.form-inline.pull-right(action="/login", method="POST")
                    input.input-small(type="text", placeholder="Login", name="login", tabindex="1")
                    input.input-small(type="password", placeholder="Password", name="password", tabindex="2")
                    button.btn(type="submit", tabindex="3") Sign in
