div.row
    div.span3
        a.thumbnail(href="/profile/278")
            img(src="#{item.pic}")
    div.span3
        h2 #{item.login}
        div #{item.age} years old, #{item.height} cm
        div #{item.city}, #{item.country}
    div.span3
        table.table
            // - var values = {"City": item.city, "Pets": item.pets, "Offspring": item.offspring, "Income": item.income, "Job": item.job, "Education": item.education, "Sign": item.sign, "Religion": item.religion, "Diet": item.diet, "Body Type": item.bodytype, "Smokes": item.smokes, "Drinks": item.drinks, "Drugs": item.drugs, "Speaks": item.speaks, "height": item.height, "Gender": item.gender, "Country": item.country, "Zip Code": item.zipcode, "Ethnicity": item.ethnicity, "Latitude": item.lat, "Longitude": item.lng, "Birth Date": item.birthdate, "Age": item.age}
            - var values = {"Pets": item.pets, "Offspring": item.offspring, "Income": item.income, "Job": item.job, "Education": item.education, "Sign": item.sign, "Religion": item.religion, "Diet": item.diet, "Body Type": item.bodytype, "Smokes": item.smokes, "Drinks": item.drinks, "Drugs": item.drugs, "Speaks": item.speaks, "height": item.height, "Gender": item.gender, "Ethnicity": item.ethnicity, "Latitude": item.lat, "Longitude": item.lng, "Age": item.age}
            - for (var key in values)
                tr
                    td #{key}
                    td #{values[key]}

div.row
    div.span9
        p #{item.q1}
